@font-face {
    font-family: 'Crimson Text Italic Bold';
    font-style: italic;
    font-weight: bold;
    src: url('resources/fonts/CrimsonText-BoldItalic.ttf');
}

@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url('resources/fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'Mayflower Italic';
    font-style: normal;
    font-weight: 300;
    src: url('resources/fonts/Mayflower-Italic.ttf');
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #131313;
}

.container {
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 1;
    overflow-y: hidden;
    font-family: 'Crimson Text Italic Bold', serif;
    font-style: italic;
    flex-grow: 0;
    margin: 0;
    font-size: 7em;
    animation: fadein 1.35s;
    -webkit-animation: fadein 1.35s;
    -moz-animation: fadein 1.35s; 
    -ms-animation: fadein 1.35s; 
}

.title .studio {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-style: normal;
}

.soon {
    font-family: 'Mayflower Italic';
    flex: 2;
    font-size: 1.25em;
    flex-grow: 0;
    margin: 0;
    animation: fadeinlate 2.25s;
    -webkit-animation: fadeinlate 2.25s;
    -moz-animation: fadeinlate 2.25s;
    -ms-animation: fadeinlate 2.25s;

}

@media (max-width: 768px){
    .title {
        font-size: 2.5em;
    }
}


@keyframes fadein {
    from { opacity: 0; transform: scale(0.95); }
    to   { opacity: 1;}
}

@keyframes fadeinlate {
    0% { opacity: 0; transform: scale(0.95);}
    40% { opacity: 0; transform: scale(0.95);}
    100% { opacity: 1;}
}

@-webkit-keyframes fadein {
    from { opacity: 0; transform: scale(0.9);}
    to   { opacity: 1;}
}

@-webkit-keyframes fadeinlate {
    0% { opacity: 0; transform: scale(0.95);}
    40% { opacity: 0; transform: scale(0.95);}
    100% { opacity: 1;}
}

@-ms-keyframes fadein {
    from { 
        opacity: 0;
        transform: scale(0.9); 
    }
    to   { opacity: 1;}
}

@-ms-keyframes fadeinlate {
    0% { opacity: 0; transform: scale(0.95);}
    40% { opacity: 0; transform: scale(0.95);}
    100% { opacity: 1;}
}
